<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body id = "body">
    <img src="{{ url_for('static', filename='images/logo-rmvd.png') }}" alt="Logo" class="logo"> <!-- Logo en haut -->
    
    <div class="container">
        <h1 class= "meet-gpt-text">Rencontrez HR-GPT</h1> <!-- Titre -->
        <h2 class= "try-upload">Uploadez un document PDF ou posez une question sur les documents déjà présents dans la base de données.</h2>
        
        <!-- Formulaire de question -->
        <form class= "chat-input-area"id="questionForm" action="/ask" method="POST" style="display: flex; align-items: center; position: relative;">
            <!-- Champ de texte avec icône PDF -->
            <label for="file-upload" class="file-upload-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M21.44 11.05l-9.19 9.19a6 6 0 01-8.49-8.49l9.19-9.19a4 4 0 015.66 5.66l-9.2 9.19a2 2 0 01-2.83-2.83l8.49-8.48" />
                </svg>
            </label>
            <input type="file" id="file-upload" accept=".pdf" onchange="uploadFile()" style="display: none;" />
            <!-- Champ de texte -->
            <input type="text" class="chat-input-text" id="question" name="question" placeholder="Posez votre question..." required />
        
            <!-- Bouton envoyer -->
            <button type="submit" class="send-button">
                <i class="fas fa-paper-plane send-icon"></i>
            </button>
        </form>
        <div id="messageDone" class="message hidden">Le fichier a bien été chargé et est prêt à être questionné !</div>
        <div id="loadingOverlay" class="loading-overlay hidden">
            <div class="book">
                <div class="book__pg-shadow"></div>
                <div class="book__pg"></div>
                <div class="book__pg book__pg--2"></div>
                <div class="book__pg book__pg--3"></div>
                <div class="book__pg book__pg--4"></div>
                <div class="book__pg book__pg--5"></div>
            </div>
        </div>

        
        <!-- Section réponse (cachée par défaut) -->
        <div id="answerSection" style="display: none;">
            <h2>Réponse :</h2>
            <p id="responseText" class="markdown"></p>
        </div>
        
        <!-- Section suggestions -->
        <h2 class="suggestions-title" id = "suggestions-title">Essayez ça</h2>
        <ul class="example-questions" id = "example-questions">
            <li class="clickable">Quelles sont les politiques de congés ?</li>
            <li class="clickable">Comment signaler un problème au travail ?</li>
            <li class="clickable">Quels sont les avantages offerts par l'entreprise ?</li>
        </ul>

        <!-- Bouton "À propos" -->
        <a href="/about" class="about-button">À Propos</a>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/OrbitControls.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/loaders/STLLoader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/libs/stats.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script> <!-- Lien vers votre fichier JS -->

</body>
</html>
